body {
    font-family: Arial, sans-serif;
    background-color: #121213;
    color: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    width: 270px;
    margin: 20px auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Colores tiles */
.tile.verde {
    background-color: #538d4e;
    border-color: #538d4e;
}

.tile.amarillo {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

.tile.gris {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

.keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.key {
    padding: 10px;
    min-width: 35px;
    height: 45px;
    background-color: #818384;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: black;
}

/* ENTER y BasckSpace */
.key-wide {
    min-width: 60px;
    font-size: 14px;
}

/* Colores teclado */
.key.verde {
    background-color: #6aaa64;
    color: white;
}

.key.amarillo {
    background-color: #c9b458;
    color: white;
}

.key.gris {
    background-color: #787c7e;
    color: white;
    cursor: not-allowed;
}

/* Tecla bloqueada */
.key:disabled {
    opacity: 0.6; /*Esto lo que hace es cuando una tecla ya se ha utilizado pues que se quede como bloqueada*/
}

